bin/
build/
dll/
doc/html
doc/latex
lib/
include/CLI
include/fluidsynth
include/fluidsynth.h
include/midifile
include/rtmidi
include/SFML
package

/config.cfg
/debug
/tags
/TODO
/make
/make.bat
/run
/run.bat
/startvs.bat

**.DS_Store
**.mid
**.swp
**.tmp

*.sf2
*.ttf
!*slkscr.ttf
*.otf