bin/
build/
dll/
doc/html
doc/latex
lib/
include/CLI
include/fluidsynth
include/fluidsynth.h
include/midifile
include/rtmidi
include/SFML


/config.cfg
/debug
/tags
/TODO
/make
/run
/run.bat
/make.bat

*.mid
*.swp
